<html>
    <head>
        <meta charset="utf-8">
        <title>Project 2</title>
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- css -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="production/static/css/style.css"> -->
        <link rel="stylesheet" href="/static/css/style.css">
        
                                                          
    </head>
    
    <body>
        <!-- header -->
        <header class="container-fluid header">
            <div class="container">
                <a href="#" class="logo"> Group Project 2</a>
                <nav class="menu">
                    <a href="#about"> About </a>
                    <a href="#visualization"> Visualization </a>
                    <a href="#team"> The Team </a>
                </nav>
            </div>
        
        </header>
    
        <!-- banner -->
        <section class="container-fluid banner">
            <div class="ban">
                <img src="static/img/ban2.jpg" alt="" site banner/>
            </div>
            <div class="inner-banner">
                <h1> Analysis of Apache logs from a small server <br>March-December 2015 & February - April 2018 </h1>
            </div>
            
        </section>
    
        <!-- about -->
        <section class="container-fluid about">
            <div class="container">
                <h2 id="about"> About the Project </h2>
                <hr class="separator">
                <div class="row">
                    
                    <article class="col-md-4 col-lg-4" col-xs-12 col-sm-12>
                        <h2> Background </h2>
                        <p>
                            What is a web server?
                            A Web server is a program that uses HTTP (Hypertext Transfer Protocol) to 
                            serve the files that form Web pages to users, in response to their requests,
                            which are forwarded by their computers' HTTP clients.
                        </p>
                    </article>
                    
                    <article class="col-md-4 col-lg-4" col-xs-12 col-sm-12>
                        <h2> What is Apache? </h2>
                        <p>
                            Originating in 1995, The Apache HTTP Server, is a free and open-source 
                            cross-platform web server, Approximately half of all web servers on the
                            internet today are running Apache. The origins of the internet as we know
                            it are because of the existence of the Apache HTTP Server.
                        </p>
                    </article>
                    
                    <article class="col-md-4 col-lg-4" col-xs-12 col-sm-12>
                        <h2> Popular sites using Apache </h2>
                        
                            <ul>
                            <li>Baidu.com</li>
                            <li>Vk.com</li>
                            <li>Ok.ru</li>
                            <li>Hao123.com</li>
                            <li>Wikia.com</li>
                            <li>Apple.com</li>
                            <li>Paypal.com</li>
                            <li>Tribunnews.com</li>
                            <li>Adobe.com</li>
                            <li>Nicovideo.jp</li>
                            </ul>
                    
                    </article>
                
                <article class="col-md-4 col-lg-4" col-xs-12 col-sm-12>
                        <h2> What is a SQL Injection? </h2>
                        <p>
                            SQL injection is a type of security exploit in which the attacker adds SQL
                            code to a Web form input box to gain access to resources or make changes to
                            data.

                        </p>
                    </article>
                    
                    <article class="col-md-4 col-lg-4" col-xs-12 col-sm-12>
                        <h2> Analysis: </h2>
                        <p>
                            Using 51 access logs from a small server that had all databases and PHP
                            removed in order to avoid SQL injection and other similar security 
                            vunerabilities, we analyzed traffic from March 2015-December 2015 and 
                            February 2018-April 2018. <br>This server had intentionally been left offline 
                            since the end of 2015 in order to "fall off the radar" of many bots and 
                            potential attacks.

                            <br>We attempted to find the geolocations of each website visit, then analyze
                            the traffic for potential threats by comparing the IPs to those on known
                            malware lists and by the methods used, URL requested, and user agents making
                            the request.
                        </p>
                    </article>
                    
                    <article class="col-md-4 col-lg-4" col-xs-12 col-sm-12>
                        <h2> Results </h2>
                        <p>
                            Though several years had passed between the two sets of logs, the primary
                            types of entry methods were the same.

                            <br>Also, there is a script that is run all over the world using urllib that
                            is looking for a particular photo of a cat. This photo is still online, but
                            not in the same location as 10 years ago.

                        </p>
                    </article>
                </div>
            
            </div>
            
        
        </section>
        
        <!-- visualization -->
        <section class="container-fluid visualization">
            <div class="container">
                <h1 id="visualization"> Visualization </h1>
                <hr class="separator">
                <div class="row">
                    <article class="col-md-12 item-folio">
                    
                        <div id="news_countries"> </div>
    
                    </article>
                
                </div>
                
                <div class="row">
                    <article class="col-md-12 item-folio">
                        <div id="erik_donut"> </div>
                    </article>
                </div>
                
                <div class="row">
                    <article class="col-md-12 item-folio">
                        <p> Endpoints targetted by Attacks!</p>
                        <img src="/static/keywords_2018.png" alt="2018 Keyword Hits">
                        <img src="/static/all_keywords.png" alt="All Keyword Hits">
                        <img src="/static/cat.jpg" alt="The Big Hit Cat">
                    </article>
                
                </div>
                
                <div class="row">
                    <article class="col-md-12 item-folio">
                        <iframe src="https://bhanuhitesh.carto.com/builder/bd37bcd4-7a72-4246-a119-165072549635/embed" height="800" width="1400"></iframe>
                    </article>
                </div>
            </div>
            
        </section>
        <!--link javascript-->
    
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        
        <footer class="container-fluid footer">
            <h2 id="team"> The Team </h2>
            <hr class="separator">
            <p> Pierre, Harry, Eric, Mae Ling, Hitesh </p>
        </footer>
        
    </body>
    
     
    
</html>