@charset "UTF-8";

/*font-family: 'Raleway', sans-serif; */

body, html {
    padding: 0;
    margin: 0;
}

body, footer {
    font-family: 'Raleway', sans-serif;
}

a, a:hover{
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #3498DB;
    
}
/* header */
.header{
    background-color: #3498DB;
    height: 70px;
    line-height: 70px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color:#ffffff;
    margin-right: 20px;
}

.menu a:hover {
    color: #2C3E50;
}
/* banner */
.banner{
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

/* about */
#about {
    text-align: center;
    padding-top: 10%;
}

.about article {
    margin-top: 10%;
    margin-bottom: 10%;
}
.about article h2 {
    text-align: center;
    
}
/* visualization */
.visualization{
    background-color: #eeeeee;
    height: 800px;
}

#visualization {
    text-align: center;
}

.visualization item-folio {
    height: 280px;
    background-color: #3498DB;
}

/* footer */
.footer {
    background-color: #2C3E50;
    color:#ffffff;
    text-align: center;
}